name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libx11-dev libwayland-dev libxkbcommon-dev

      - name: Setup Zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.14.1

      - name: Build
        run: zig build -Doptimize=ReleaseSafe

      - name: Prepare Release
        run: |
          mkdir -p release/zm-linux
          cp zig-out/bin/zm release/zm-linux/
          cp -r assets release/zm-linux/
          cd release
          tar -czvf zm-linux.tar.gz zm-linux

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: zm-linux
          path: release/zm-linux.tar.gz
